@using Pineapple.Model
@model System.Collections.Generic.List<Pineapple.Model.Visitor>

@{
    ViewBag.Title = "Visitors";
}
<table class="@ViewBag.TableClass">
    <caption>Visitor List</caption>
    <thead>
        <tr>
            <th>VisitorId</th>
            <th>FirstVisitTime</th>
            <th>EnterUrl</th>
            <th>RefererUrl</th>
            <th>UserName</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var visitor in @ViewBag.Visitors)
    {
        <tr>
            <td>@visitor.VisitorId</td>
            <td>@visitor.FirstVisitTime</td>
            <td>@visitor.EnterUrl</td>
            <td>@visitor.RefererUrl</td>
            <td>@visitor.UserName</td>
        </tr>
    }
    </tbody>
</table>
