@{
    ViewBag.Title = "Categorys";
}

<h2>@ViewBag.Title</h2>
<table class="table table-striped table-hover table-bordered">
    <caption>category List (<a href="/Manager/Category/Create" class="glyphicon glyphicon-plus-sign">Add</a>)</caption>
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>CategoryName</th>
            <th>DisplayName</th>
            <th>SubDisplayName</th>
            <th>Description</th>
            <th>ParentId</th>
            <th>DisplayOrder</th>
            <th class="width-200">Opration</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var category in @ViewBag.Categorys)
    {
        <tr>
            <th>@category.CategoryId</th>
            <th>@category.CategoryName</th>
            <th>@category.DisplayName</th>
            <th>@category.SubDisplayName</th>
            <th>@category.Description</th>
            <th>@category.ParentId</th>
            <th>@category.DisplayOrder</th>
            <td>
                <a href="/Manager/Category/Edit/@category.CategoryId" class="glyphicon glyphicon-edit">Edit</a>
                <a href="/Manager/Category/Delete/@category.CategoryId" class="glyphicon glyphicon-minus-sign">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
