@{
    ViewBag.Title = "Categorys";
}
@if (@ViewBag.Catalogs.Count > 0)
{
    <div>
        @{
    string allClass = @ViewBag.CatalogId == 0 ? "active" : "";
            <a class="@allClass" href="/Manager/Category">All Categories</a>
        }
        @foreach (var catalog in @ViewBag.Catalogs)
        {
            string active = @ViewBag.CatalogId == catalog.CatalogId ? "class=\"active\"" : string.Empty;
            <a @active href="/Manager/Category?catalog=@catalog.CatalogId">@catalog.CatalogName<span>(@catalog.CatalogCode)</span></a>
        }
    </div>
}
<table class="@ViewBag.TableClass">
    <caption>category List (<a href="/Manager/Category/Create" class="glyphicon glyphicon-plus-sign">Add</a>)</caption>
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>CategoryName</th>
            <th>DisplayName</th>
            <th>SubDisplayName</th>
            <th>Description</th>
            <th>ParentId</th>
            <th>DisplayOrder</th>
            <th class="width-200">Opration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in @ViewBag.Categorys)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>@Helpers.TdWrap(@category.DisplayName)</td>
                <td>@Helpers.TdWrap(@category.SubDisplayName)</td>
                <td>@Helpers.TdWrap(@category.Description)</td>
                <td>@category.ParentId</td>
                <td>@category.DisplayOrder</td>
                <td>
                    <a href="/Manager/Category/Edit/@category.CategoryId" class="glyphicon glyphicon-edit">Edit</a>
                    <a href="/Manager/Category/Delete/@category.CategoryId" class="glyphicon glyphicon-minus-sign">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
