@{
    ViewBag.Title = "Templates";
}
<table class="@ViewBag.TableClass">
    <caption>template List (<a href="/Manager/Template/Create" class="glyphicon glyphicon-plus-sign">Add</a>)</caption>
    <thead>
        <tr>
            <th>TemplateId</th>
            <th>TemplateName</th>
            <th>ViewFile</th>
            <th class="width-200">Opration</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var template in @ViewBag.Templates)
    {
        <tr>
            <td>@template.TemplateId</td>
            <td>@template.TemplateName</td>
            <td>@template.ViewFile</td>
            <td>
                <a href="/Manager/Template/Edit/@template.TemplateId" class="glyphicon glyphicon-edit">Edit</a>
                <a href="/Manager/Template/Delete/@template.TemplateId" class="glyphicon glyphicon-minus-sign">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
