@{
	ViewBag.Title = "Attachment detail";
}

<div id="attachmentContainer">
        @if(ViewBag.Attachment.IsImage)
        {
        <a href="@ViewBag.Attachment.UrlPath" title="@ViewBag.Attachment.OriginName" class="img-gallry">
            <img data-original="@ViewBag.Attachment.UrlPath" alt="@ViewBag.Attachment.Alt" src="" style="width:160px;" class="img-rounded" attachmentId="@ViewBag.Attachment.AttachmentId"/>
        </a>
        <div class="hide img-operation">
            <a href="javascript:void(0);">Copy Element</a>
            <a href="javascript:void(0);">Copy Url</a>
            <a href="/Manager/Attachment/Delete/@ViewBag.Attachment.AttachmentId" class="glyphicon glyphicon-minus-sign">Delete</a>
        </div>
        }
        else
        {
        <span class="col-md-2">
            <a attachmentId="@ViewBag.Attachment.AttachmentId" href="@ViewBag.Attachment.UrlPath">@ViewBag.Attachment.OriginName  (@ViewBag.Attachment.Size)</a>
            <br/>
            <a href="/Manager/Attachment/Delete/@attachment.AttachmentId" class="glyphicon glyphicon-minus-sign">Delete</a>
        </span>
        }
</div>