@{
    ViewBag.Title = "Attachment";
}
@Styles.Render("~/Content/jqueryfileupload/css")
@Scripts.Render("~/Content/jqueryfileupload/js")

@using Pineapple.Model

@RenderPage("Upload.cshtml");

<div id="attachmentContainer">
    @foreach (Attachment attachment in @ViewBag.Attachments)
    {
        if (attachment.IsImage)
        {
        <a href="@attachment.UrlPath" title="@attachment.OriginName" class="img-gallry">
            <img data-original="@attachment.UrlPath" alt="@attachment.Alt" src="" style="width:160px;" class="img-rounded"/>
        </a>
        <div class="hide img-operation">
            <a href="javascript:void(0);">Copy Element</a>
            <a href="javascript:void(0);">Copy Url</a>
            <a href="/Manager/Attachment/Delete/@attachment.AttachmentId" class="glyphicon glyphicon-minus-sign">Delete</a>
        </div>
        }
        else
        {
        <span class="col-md-2">
            <a href="@attachment.UrlPath">@attachment.OriginName  (@attachment.Size)</a>
        </span>
        }
    }
</div>
