@{
    ViewBag.Title = "Navigations";
}

<table class="@ViewBag.TableClass">
    <caption>category List (<a href="/Manager/Category/Create" class="glyphicon glyphicon-plus-sign">Add</a>)</caption>
    <thead>
        <tr>
            <th>NavigationId</th>
            <th>NavigationName</th>
            <th>DisplayText</th>
            <th>SubText</th>
            <th>ParentId</th>
            <th>DisplayOrder</th>
            <th class="width-200">Opration</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var navigation in @ViewBag.Navigations)
    {
        <tr>
            <td>@navigation.NavigationId</td>
            <td>@navigation.NavigationName</td>
            <td>@navigation.DisplayText</td>
            <td>@navigation.SubText</td>
            <td>@navigation.ParentId</td>
            <td>@navigation.DisplayOrder</td>
            <td>
                <a href="/Manager/Navigation/Edit/@navigation.NavigationId" class="glyphicon glyphicon-edit">Edit</a>
                <a href="/Manager/Navigation/Delete/@navigation.NavigationId" class="glyphicon glyphicon-minus-sign">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
