@using Pineapple.Model
@{
    var categoryItem = @ViewBag.CategoryItem;
    var action = categoryItem.CategoryItemId == null ? "/Manager/CategoryItem/Create" : "/Manager/CategoryItem/Edit/" + categoryItem.CategoryItemId;
    var categoryItemId = categoryItem.CategoryItemId == null ? "" : categoryItem.CategoryItemId.ToString();

    var category = @ViewBag.Category;
    
}
<form id="form1" class="form-horizontal" role="form"  action="@action" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label">CategoryId:</label>
        <div class="col-sm-10">
            <input type="text" class="col-sm-5 form-control" name="categoryId" value="@category.CategoryId" placeholder="input Category Id..." />
            <span>@category.CategoryName   @category.DisplayName</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">CategoryId:</label>
        <div class="col-sm-10">
            <span>@categoryItemId</span>
            <input type="hidden" name="CategoryItemId" value="@categoryItemId"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Title:</label>
        <div class="col-sm-10">
            <input type="text" class="col-sm-10 form-control" name="Title" value="@categoryItem.Title" placeholder="input Title..." />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">SubTitle:</label>
        <div class="col-sm-10">
            <input type="text" class="col-sm-10 form-control" name="SubTitle" value="@categoryItem.SubTitle"  placeholder="input SubTitle..." />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Time:</label>
        <div class="col-sm-10">
            <input type="text" class="col-sm-10 form-control" name="Time" value="@categoryItem.Time"  placeholder="input Time..." />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Content:</label>
        <div class="col-sm-10">
            <textarea rows="15" cols="" class="col-sm-10 form-control" name="Content" placeholder="input Content...">@categoryItem.Content</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">DisplayOrder:</label>
        <div class="col-sm-10">
            <input type="text" class="col-sm-10 form-control" name="DisplayOrder" value="@categoryItem.DisplayOrder"  placeholder="input DisplayOrder..." />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>
