@{
    ViewBag.Title = "Category Items";
}
<table class="@ViewBag.TableClass">
    <caption>category List (<a href="/Manager/CategoryItem/Create" class="glyphicon glyphicon-plus-sign">Add</a>)</caption>
    <thead>
        <tr>
            <th>CategoryItemId</th>
            <th>Title</th>
            <th>SubTitle</th>
            <th>Time</th>
            <th>Content</th>
            <th>DisplayOrder</th>
            <th class="width-200">Opration</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var categoryItem in @ViewBag.CategoryItems)
    {
        <tr>
            <td>@categoryItem.CategoryItemId</td>
            <td>@Helpers.TdWrap(@categoryItem.Title)</td>
            <td>@Helpers.TdWrap(@categoryItem.SubTitle)</td>
            <td>@Helpers.TdWrap(@categoryItem.Time)</td>
            <td>@Helpers.TdWrap(@categoryItem.Content)</td>
            <td>@categoryItem.DisplayOrder</td>
            <td>
                <a href="/Manager/CategoryItem/Edit/@categoryItem.CategoryItemId" class="glyphicon glyphicon-edit">Edit</a>
                <a href="/Manager/CategoryItem/Delete/@categoryItem.CategoryItemId" class="glyphicon glyphicon-minus-sign">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
