@{
    ViewBag.Title = "Catalogs";
}

<h2>@ViewBag.Title</h2>
<table class="table table-striped table-hover table-bordered">
    <caption>Catalog List (<a href="/Manager/Catalog/Create" class="glyphicon glyphicon-plus-sign">Add</a>)</caption>
    <thead>
        <tr>
            <th>CatalogId</th>
            <th>CatalogCode</th>
            <th>CatalogName</th>
            <th>Title</th>
            <th>ContentType</th>
            <th>Keywords</th>
            <th>Description</th>
            <th>Icon</th>
            <th>Logo</th>
            <th>CopyrightTime</th>
            <th>Copyright</th>
            <th>ICP</th>
            <th>Status</th>
            <th class="width-200">Opration</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var catalog in @ViewBag.Catalogs)
    {
        <tr>
            <th>@catalog.CatalogId</th>
            <th>@catalog.CatalogCode</th>
            <th>@catalog.CatalogName</th>
            <th>@catalog.Title</th>
            <th>@catalog.ContentType</th>
            <th>@catalog.Keywords</th>
            <th>@catalog.Description</th>
            <th>@catalog.Icon</th>
            <th>@catalog.Logo</th>
            <th>@catalog.CopyrightTime</th>
            <th>@catalog.Copyright</th>
            <th>@catalog.ICP</th>
            <th>@catalog.Status</th>
            <td>
                <a href="/Manager/Catalog/Edit/@catalog.CatalogId" class="glyphicon glyphicon-edit">Edit</a>
                <a href="/Manager/Catalog/Delete/@catalog.CatalogId" class="glyphicon glyphicon-minus-sign">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
