@{
    ViewBag.Title = "Catalogs";
}

<table class="@ViewBag.TableClass">
    <caption>Catalog List (<a href="/Manager/Catalog/Create" class="glyphicon glyphicon-plus-sign">Add</a>)</caption>
    <thead>
        <tr>
            <th>CatalogId</th>
            <th>CatalogCode</th>
            <th>CatalogName</th>
            <th>Title</th>
            <th>ContentType</th>
            <th>Keywords</th>
            <th>Description</th>
            <th>Icon</th>
            <th>Logo</th>
            <th>CopyrightTime</th>
            <th>Copyright</th>
            <th>ICP</th>
            <th>Status</th>
            <th class="width-200">Opration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var catalog in @ViewBag.Catalogs)
        {
            <tr>
                <td>@catalog.CatalogId</td>
                <td>@catalog.CatalogCode</td>
                <td>@catalog.CatalogName</td>
                <td>@Helpers.TdWrap(@catalog.Title)</td>
                <td>@catalog.ContentType</td>
                <td>@Helpers.TdWrap(@catalog.Keywords)</td>
                <td>@Helpers.TdWrap(@catalog.Description)</td>
                <td>@Helpers.TdWrap(@catalog.Icon)</td>
                <td>@Helpers.TdWrap(@catalog.Logo)</td>
                <td>@Helpers.TdWrap(@catalog.CopyrightTime)</td>
                <td>@Helpers.TdWrap(@catalog.Copyright)</td>
                <td>@Helpers.TdWrap(@catalog.ICP)</td>
                <td>@Helpers.TdWrap(@catalog.Status)</td>
                <td>
                    <a href="/Manager/Catalog/Edit/@catalog.CatalogId" class="glyphicon glyphicon-edit">Edit</a>
                    <a href="/Manager/Catalog/Delete/@catalog.CatalogId" class="glyphicon glyphicon-minus-sign">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
